table {
  width: 100%;
}
.position {
  width: 25px;
  height: 25px;
}
.mat-raised-button{
  width: 1px;
  height: 25px;
  color: white;
  background-color: grey;
}
tr.team-detail-row {
  height: 0;
  background: rgb(182, 182, 189);
}
tr.team-element-row:not(.team-expanded-row):hover {
  background: #ffffff;
}
tr.team-element-row:not(.team-expanded-row):active {
  background: #becccc;
}
.team-element-row td {
  border-bottom-width: 0;
}
.team-element-detail {
  overflow: hidden;
  display: flex;
  text-align: left;
}
.team-element-description-attribution {
  opacity: 0.5;
}
.mat-menu-item{
  background: #f5f5f5;
  clear: both;
  height: 22px;
  outline: none;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  clear: both;
  text-align: left;
  color: #f5f5f5;
}
.stats-container{
  background:#fff;
  position: center;
  left:0;
  width:205px;
  height:30px;
  padding-top: 7px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 18px;
}
.stats-container .golfer-name{
  font-size:14px;
  font-weight: bold;
  margin-left: 11px;
  color:#393c45;
}
.stats-container .summary{
  font-size:11px;
  color:#8181fc;
  margin-left: 43px;
}
.stats-container .score{
  float:right;
  color:#d41616;
  font-size:15px;
  font-weight:600;
}
.stats-container .pic{
  float:left;
  margin-left: -8px;
  height: 40px;
  width: 40px;
}
.spinner {
  margin-left: 32%;
  margin-top: 20px;
}