table {
  width: 100%;
}
.position {
  width: 25px;
  height: 25px;
}
.mat-raised-button{
  width: 1px;
  height: 25px;
  color: white;
  background-color: grey;
}
tr.team-detail-row {
  height: 0;
  // background: rgb(182, 182, 189);
  background: whitesmoke;
}
tr.team-element-row:not(.team-expanded-row):hover {
  background: #ffffff;
}
tr.team-element-row:not(.team-expanded-row):active {
  background: #becccc;
}
.team-element-row td {
  border-bottom-width: 0;
}
.team-element-detail {
  overflow: hidden;
  display: flex;
  text-align: left;
}
.team-element-description-attribution {
  opacity: 0.5;
}
.mat-menu-item{
  background: #f5f5f5;
  clear: both;
  height: 22px;
  outline: none;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  clear: both;
  text-align: left;
  color: #f5f5f5;
}
.stats-container{
  background:#fff;
  position: center;
  left:0;
  width:235px;
  height:30px;
  padding-top: 7px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 18px;
}
.stats-container .golfer-name{
  font-size:14px;
  font-weight: bold;
  margin-left: 11px;
  color:#393c45;
}
.stats-container .summary{
  font-size:11px;
  color:#8181fc;
  font-weight: 400;
  margin-left: 43px;
}
.stats-container .score{
  float:right;
  color:#45d3e6;
  font-size: 1.75em;
  font-weight:500;
  width: 1.85em;
  margin-right: -25px;
  height: 44px;
  margin-top: -7px;
  background: #030303;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  padding-top: 11px;
}

.td.mat-cell:first-of-type {
  padding-left: 1px;
}

.stats-container .pic{
  float: left;
  background-color: #cdcfcf;
  margin-left: -25px;
  margin-top: -7px;
  padding: 3px;
  height: 48px;
  width: 48px;
}

.spinner {
  margin-left: 32%;
  margin-top: 20px;
}