<mat-card class="memory-card">
  <ng-container *ngIf="isLoggedIn">
    <!-- <mat-card-header>test </mat-card-header> -->
    <mat-card-content *ngIf="isLoading">
      <div class="spinner">
        <app-loader></app-loader>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="!isLoading">
      <app-golfer-picks-form
        [(picksFg)]="picksFg"
        [golferGrpA]="(golferGroupings$ | async)?.groupA"
        [golferGrpB]="(golferGroupings$ | async)?.groupB"
        [golferGrpC]="(golferGroupings$ | async)?.groupC"
      ></app-golfer-picks-form>
      <div *ngIf="!isTournamentActive" style="text-align: center">
        <button
          mat-raised-button
          color="primary"
          (click)="openConfirmationPopup(updateOperation)"
        >
          Submit Team
        </button>

        <button
          mat-raised-button
          color="primary"
          *ngIf="existingEntry"
          (click)="openConfirmationPopup(deleteOperation)"
        >
          Delete Entry
        </button>
      </div>
    </mat-card-content>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <mat-card-header>
      <mat-card-content class="message">
        Login to view or make picks!
      </mat-card-content>
    </mat-card-header>
  </ng-container>
</mat-card>
