<!-- <mat-tab-group (selectedTabChange)="selectedTabValue($event)" #tabGroup>
  <mat-tab
    *ngFor="let tt of selelectedTabs; let index = index"
    [label]="tt.tabDescription"
    class="tab-title"
  >
    <button mat-button mat-raised-button (click)="testmemethod()">
      Click me!
    </button>
  </mat-tab>
</mat-tab-group> -->

<mat-card class="memory-card">
  <ng-container *ngIf="isLoggedIn">
    <mat-card-content *ngIf="isLoading">
      <div class="spinner">
        <golf-loader></golf-loader>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="!isLoading">
      <golf-golfer-picks-form
        [(picksFg)]="picksFg"
        [golferGrpA]="(golferGroupings$ | async)?.groupA"
        [golferGrpB]="(golferGroupings$ | async)?.groupB"
        [golferGrpC]="(golferGroupings$ | async)?.groupC"
      ></golf-golfer-picks-form>
      <div *ngIf="!isTournamentActive" class="button-row">
        <button
          mat-raised-button
          color="primary"
          (click)="openConfirmationPopup(updateOperation)"
        >
          Submit Team
        </button>

        <button
          mat-raised-button
          color="primary"
          *ngIf="existingEntry"
          (click)="openConfirmationPopup(deleteOperation)"
        >
          Delete Entry
        </button>
      </div>
    </mat-card-content>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <mat-card-header>
      <mat-card-content> Login to view or make picks! </mat-card-content>
    </mat-card-header>
  </ng-container>
</mat-card>
