.memory-card {
  margin: auto;
  @media screen and (min-width: 900px) {
    width: 500px;
    background-size: contain;
  }

  mat-card-header {
    justify-content: center;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
  }
}

.button-row {
  text-align: center;
}
.button-row button,
.button-row a {
  margin-right: 5px;
  margin-left: 5px;
}

.spinner {
  justify-content: center;
  display: flex;
}
