<div class="header">{{scoreCard.playerName}}</div>
<div> </div>
<div class="header">
  <img class="pic" src='https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,g_face:center,q_auto,t_headshots_leaderboard_l,w_160/headshots_{{golferId}}.png'>
</div>
<div class="scorecards-box">
  <ul class="scorecards-slider">
    <li style="display: list-item;" class="evan">
      <table class="scorecard scorecards">
        <thead>
          <tr>
            <th class="first-col">
              <div>HOLE</div>
            </th>
            <th class="hole-selectable" data-hole-number="1">
              <div> <a class="hole-picker" data-hole-number="1">1</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="2">
              <div> <a class="hole-picker" data-hole-number="2">2</a> </div>
            </th>
            <th class="hole-selectable active" data-hole-number="3">
              <div> <a class="hole-picker" data-hole-number="3">3</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="4">
              <div> <a class="hole-picker" data-hole-number="4">4</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="5">
              <div> <a class="hole-picker" data-hole-number="5">5</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="6">
              <div> <a class="hole-picker" data-hole-number="6">6</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="7">
              <div> <a class="hole-picker" data-hole-number="7">7</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="8">
              <div> <a class="hole-picker" data-hole-number="8">8</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="9">
              <div> <a class="hole-picker" data-hole-number="9">9</a> </div>
            </th>
            <th>
              <div><span>OUT</span></div>
            </th>
            <th class="last-col">
              <div><span>TOT</span> <a class="scorecards-prev">&nbsp;</a></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first-col">
              <div>PAR</div>
            </td>
            <td class="hole-selectable" data-hole-number="1">
              <div>{{scoreCard.hole1.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="2">
              <div>{{scoreCard.hole2.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="3">
              <div>{{scoreCard.hole3.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="4">
              <div>{{scoreCard.hole4.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="5">
              <div>{{scoreCard.hole5.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="6">
              <div>{{scoreCard.hole6.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="7">
              <div>{{scoreCard.hole7.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="8">
              <div>{{scoreCard.hole8.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="9">
              <div>{{scoreCard.hole9.par}}</div>
            </td>
            <td>
              <div>{{scoreCard.Out.par}}</div>
            </td>
            <td class="last-col">
              <div>{{scoreCard.Total.par}}</div>
            </td>
          </tr>
          <tr>
            <td class="first-col">
              <div> ROUND</div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="1">
              <div>{{scoreCard.hole1.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result-1" data-hole-number="2">
              <div>{{scoreCard.hole2.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result-1" data-hole-number="3">
              <div>{{scoreCard.hole3.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result1" data-hole-number="4">
              <div>{{scoreCard.hole4.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="5">
              <div>{{scoreCard.hole5.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="6">
              <div>{{scoreCard.hole6.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result-1" data-hole-number="7">
              <div>{{scoreCard.hole7.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="8">
              <div>{{scoreCard.hole8.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="9">
              <div>{{scoreCard.hole9.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td>
              <div>{{scoreCard.Out.score}}</div>
            </td>
            <td class="last-col">
              <div>{{scoreCard.Total.score}}</div>
            </td>
          </tr>
          <tr>
        </tbody>
      </table>
    </li>
    <li style="display: list-item;" class="evan">
      <table class="scorecard scorecards">
        <thead>
          <tr>
            <th class="first-col">
              <div>HOLE</div>
            </th>
            <th class="hole-selectable" data-hole-number="10">
              <div> <a class="hole-picker" data-hole-number="10">10</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="11">
              <div> <a class="hole-picker" data-hole-number="11">11</a> </div>
            </th>
            <th class="hole-selectable active" data-hole-number="12">
              <div> <a class="hole-picker" data-hole-number="12">12</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="13">
              <div> <a class="hole-picker" data-hole-number="13">13</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="14">
              <div> <a class="hole-picker" data-hole-number="14">14</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="15">
              <div> <a class="hole-picker" data-hole-number="15">15</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="16">
              <div> <a class="hole-picker" data-hole-number="16">16</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="17">
              <div> <a class="hole-picker" data-hole-number="17">17</a> </div>
            </th>
            <th class="hole-selectable" data-hole-number="18">
              <div> <a class="hole-picker" data-hole-number="18">18</a> </div>
            </th>
            <th>
              <div><span>IN</span></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first-col">
              <div>PAR</div>
            </td>
            <td class="hole-selectable" data-hole-number="10">
              <div> {{scoreCard.hole10.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="11">
              <div> {{scoreCard.hole11.par}} </div>
            </td>
            <td class="hole-selectable" data-hole-number="12">
              <div> {{scoreCard.hole12.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="13">
              <div>{{scoreCard.hole13.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="14">
              <div>{{scoreCard.hole14.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="15">
              <div>{{scoreCard.hole15.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="16">
              <div>{{scoreCard.hole16.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="17">
              <div>{{scoreCard.hole17.par}}</div>
            </td>
            <td class="hole-selectable" data-hole-number="18">
              <div>{{scoreCard.hole18.par}}</div>
            </td>
            <td>
              <div>{{scoreCard.In.par}}</div>
            </td>
          </tr>
          <tr>
            <td class="first-col">
              <div> ROUND</div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="10">
              <div>{{scoreCard.hole10.score}}</div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="11">
              <div>{{scoreCard.hole11.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable result0 active" data-hole-number="12">
              <div>{{scoreCard.hole12.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result-1" data-hole-number="13">
              <div>{{scoreCard.hole13.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result-1" data-hole-number="14">
              <div>{{scoreCard.hole14.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result1" data-hole-number="15">
              <div>{{scoreCard.hole15.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="16">
              <div>{{scoreCard.hole16.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="17">
              <div>{{scoreCard.hole17.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td class="hole-selectable  result0" data-hole-number="18">
              <div>{{scoreCard.hole18.score}}<span class="has-video" style="display: none;"> </span> </div>
            </td>
            <td>
              <div>{{scoreCard.holeIn}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>