.scorecards-box{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    line-height: 20px;
    table-layout: fixed;    
}

.scorecards-slider {
    list-style-position: center;
}


.header{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    line-height: 20px;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    table-layout: fixed;   
}

.evan{
    background-color: black; table-layout: flex;    
    color: #E4E4E4;
    text-align: center;
    width: 100%;
}

.hole-picker{
    padding: 2px;
    font-size: 11px;
}
.pic{
    height: 85px;
    width: 85px;
}
li{
    font-size: 11px;
    list-style-type: none;
}

.score-birdie{
    // .birdie{
        background-color: green;
    // }
}

.scorecard-scorecards {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    table-layout: fixed;
}   
ul, menu, dir{
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1px;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}
