<form #form="ngForm">
  <mat-card class="memory-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Group A</h4>
      <div style="text-align: center;">
        <mat-form-field>
          <mat-select name="golfer1" placeholder="Golfer 1" [(ngModel)]="picks.golfer1">
            <mat-option *ngFor="let golfer of GolferA" [value]="golfer.id" [disabled]=checkData(golfer.id,myGolferDataSet.golfer2)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="golfer2" placeholder="Golfer 2" [(ngModel)]="picks.golfer2">
            <mat-option *ngFor="let golfer of GolferA" [value]="golfer.id" [disabled]=checkData(golfer.id,myGolferDataSet.golfer1)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Group B Golfers -->
      <h4>Group B</h4>
      <div style="text-align: center;">
        <mat-form-field>
          <mat-select name="golfer3" placeholder="Golfer 1" [(ngModel)]="picks.golfer3">
            <mat-option *ngFor="let golfer of GolferB" [value]="golfer.id" [disabled]=checkData(golfer.id,myGolferDataSet.golfer4)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="golfer4" placeholder="Golfer 2" [(ngModel)]="picks.golfer4">
            <mat-option *ngFor="let golfer of GolferB" [value]="golfer.id" [disabled]=checkData(golfer.id,myGolferDataSet.golfer3)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Group C Golfers -->
      <h4>Group C</h4>
      <div style="text-align: center;">
        <mat-form-field>
          <mat-select name="golfer5" placeholder="Golfer 1" [(ngModel)]="picks.golfer5">
            <mat-option *ngFor="let golfer of GolferC" [value]="golfer.id" [disabled]=checkData2(golfer.id,myGolferDataSet.golfer5)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="golfer6" placeholder="Golfer 2" [(ngModel)]="picks.golfer6">
            <mat-option *ngFor="let golfer of GolferC" [value]="golfer.id" [disabled]=checkData2(golfer.id,myGolferDataSet.golfer6)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="golfer7" placeholder="Golfer 3" [(ngModel)]="picks.golfer7">
            <mat-option *ngFor="let golfer of GolferC" [value]="golfer.id" [disabled]=checkData2(golfer.id,picks.golfer7)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="golfer8" placeholder="Golfer 4" [(ngModel)]="picks.golfer8">
            <mat-option *ngFor="let golfer of GolferC" [value]="golfer.id" [disabled]=checkData2(golfer.id,picks.golfer8)>
              {{golfer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <div style="text-align: center;">
      <mat-form-field>
        <input matInput name="email" [(ngModel)]="picks.team" placeholder="Team Name">
      </mat-form-field>
      <button mat-raised-button (click)="openDialog()">Submit Team</button>
    </div>
  </mat-card>
</form>