<ng-container *ngFor="let golfer of golfers">
  <div class="container-fluid" (click)="openPopup(golfer)">
    <div class="stats-container">
      <img class="pic" src="{{ golfer.imageLink }}" />
      <div class="score" [ngSwitch]="golfer.status">
        <!-- Golfer score -->
        <div *ngSwitchCase="golferActiveStatus">
          <ng-container
            *ngIf="golfer.score != 0; then score; else evenScore"
          ></ng-container>
          <ng-template #score> {{ golfer.score }}</ng-template>
          <ng-template #evenScore>E</ng-template>
        </div>
        <div *ngSwitchCase="golferWithdrawnStatus">WD</div>
        <div *ngSwitchDefault>C</div>
      </div>

      <!-- Golfer Name -->
      <div class="overflow">
        <span class="golfer-name">{{ golfer.name }}</span>
      </div>

      <!-- Golfer Ownership Percentage -->
      <p
        class="summary"
        *ngIf="
          golfer.status !== golferCutStatus &&
          golfer.status !== golferWithdrawnStatus
        "
      >
        {{ golfer.thru }} | Owned {{ golfer.ownPct | number: '1.0-0' }}%
      </p>
      <p class="summary" *ngIf="golfer.status === golferCutStatus">
        Owned {{ golfer.ownPct | number: '1.0-0' }}%
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
</ng-container>
