<mat-card class="memory-card">
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div style="text-align: center">
        <mat-form-field class="form_field">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Ex. bob@email.com"
            [(ngModel)]="emailAddress"
            name="email"
            required
          />
        </mat-form-field>
      </div>
    </form>
    <div style="text-align: center">
      <button mat-raised-button (click)="submitPwdReset()" color="primary">
        Reset
      </button>
    </div>
  </mat-card-content>
</mat-card>
