.scorecards-box{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    line-height: 20px;
    table-layout: fixed;    
}

.scorecards-slider {
    margin: 0 0 15px;
    list-style: none
}


.header{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    line-height: 20px;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    table-layout: fixed;   
}

.evan{
    background-color: black; table-layout: fixed;    
    color: #E4E4E4;
    text-align: center;
    width: 90%;
}

// .hole-picker{
//     font-weight: 400;
//     color: #FFF;
//     padding: 11px 0 7px;
//     display: block;
// }
.scorecard-scorecards {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    table-layout: fixed;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}
