.title{
  text-align: center;
  margin-left: 10px;
}
.leaders{
  height: 85px;
  background: black;
  color: #E4E4E4;
  font: 500 12px/14px Roboto,"Helvetica Neue",sans-serif;
}
.golf-title{
  height: 25px;
  background: black;
  color: #E4E4E4;
  font: 500 12px/14px Roboto,"Helvetica Neue",sans-serif;
}
.button-evan{
  border-bottom-color: white;
}
.mat-toolbar-row{
  padding-left: 3px;
  padding-right: 0px;
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.card {
  display: inline-block;
  margin: 1.1rem;
}
.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}
.golfer-pic {
  width: 45px;
  height: 45px;
  margin: auto;
}
.error-text{
  text-align: center;
  margin-left: 5.000em;
  font-size: 14px;
}