<mat-toolbar color="primary">
      <mat-toolbar-row>
            <span class="title">443 Fantasy Golf</span>
            <span class="spacer"></span>
            <span class="spacer"></span>
            <span class="spacer"></span>
            <span class="spacer"></span>
            <button mat-icon-button [routerLink]="['/leader']">
                  <mat-icon>golf_course</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/pick']">
                  <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/login']" *ngIf="isLoggedIn() == false">
                        <mat-icon>person</mat-icon>
                        <span>Login</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/signup']" *ngIf="isLoggedIn() == false">
                        <mat-icon>person_add</mat-icon>
                        <span>Sign up</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/history']">
                        <mat-icon>history</mat-icon>
                        <span>History</span>
                  </button>
                  <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn() == true">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                  </button>
            </mat-menu>
      </mat-toolbar-row>
      <mat-toolbar-row class="leaders">
            <div class="scrolling-wrapper">
                  <div *ngFor="let golfer of golfers" class="card">
                        <span>
                              <img class="golfer-pic"
                                    src='https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,g_face:center,q_auto,t_headshots_leaderboard_l,w_160/headshots_{{golfer.golferId}}.png'>
                              <div>{{golfer.position}} | {{golfer.name}}</div>
                              <div>{{golfer.score}} | {{golfer.hole}}</div>
                        </span>
                  </div>
            </div>
            <div *ngIf="error" class="error-text">
                  {{tournyText}}
            </div>
      </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>