<mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
            <mat-toolbar>
                  <img src='./assets/golfer.png' width="60" height="55">
            </mat-toolbar>
            <mat-nav-list>
                  <a mat-list-item (click)="drawer.close()" [routerLink]="['/pick']">Picks</a>
                  <a mat-list-item (click)="drawer.close()" [routerLink]="['/history']">History</a>
            </mat-nav-list>
      </mat-sidenav>
      <mat-toolbar color="primary">
            <mat-toolbar-row>
                  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                        <mat-icon aria-label="443 Golf Side Nav">menu</mat-icon>
                  </button>
                  <span class="title">443 Fantasy Golf</span>
                  <span class="spacer"></span>
                  <span class="spacer"></span>
                  <span class="spacer"></span>
                  <span class="spacer"></span>
                  <span class="spacer"></span>
                  <button mat-icon-button [routerLink]="['/leader']">
                        <span><img class="main-img" src='./assets/flag.svg'></span>
                  </button>

                  <button *ngIf="enablePicks" mat-button routerLink="/pick">Picks</button>
            </mat-toolbar-row>
            <mat-toolbar-row class="leaders">
                  <div class="scrolling-wrapper">
                        <div *ngFor="let golfer of golfers" class="card">
                              <span class="example-spacer">
                                    <div>{{golfer.position}} | {{golfer.name}}</div>
                                    <div>{{golfer.score}} | {{golfer.hole}}</div>
                              </span>
                        </div>
                  </div>
            </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>