.memory-card {
  width: 450px;
  margin: auto;
  @media screen and (max-width: 600px) {
    width: 300px;
    background-size: contain;
  }
  @media screen and (max-width: 900px) {
    width: 320px;
    background-size: contain;
  }
}
.form_field {
  width: 75%;
  margin: 7px;
  font-size: 13px;
}
.button {
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}
