/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-toolbar.mat-primary {
  background-color: #3598b6 !important;
}

html,
body {
  height: 100%;
  background-color: #e4e4e4;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
